.thead {
  display: none;
}

@media (min-width: 1024px) {
  .thead {
    grid-area: thead;
    display: initial;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--dark-blue);
    color: var(--white);
  }
}